.encabezado{
	background-color: green;
	border-radius: 10px;
}

.contenedor{
	overflow: hidden;
	margin-bottom: 50px;
	.encabezado2{
		float: right;
		height: 100%;
		margin-left: 10px;
	}
	.input{
		margin-right: 30%;
	}
}

.pequeno{
	width: 40%;
	height: 40%;
}

.principal{
		height: 400px;
		width: 70%;
		margin-left: 100px;
		margin: auto;
		.dia_seleccionado{
			border-radius: 50px;
			height: 100%;
			background-image: url("../img/fondo.jpg");
		}
}

@for $number from 0 through 6{
	#dia_#{$number}{
		height: 100%;
		margin-left: 7px;
		margin-right: 7px;
		background-color: pink;
	}
}

#titulo{
	text-align: center;
}


.dias{
	height: 200px;
	width: 14%;
	float: right;
}

h3{
	text-align: center;
}