body {
  background-image: url("../img/body_fondo.jpg"); }

.encabezado {
  background-color: gray;
  border-radius: 10px; }

.contenedor {
  overflow: hidden;
  margin-bottom: 50px; }
  .contenedor .encabezado2 {
    float: right;
    height: 100%;
    margin-left: 10px; }
  .contenedor .input {
    margin-right: 40%; }

.pequeno {
  width: .pequeno height_width;
  height: .pequeno height_width; }

.principal {
  height: 600px;
  width: 70%;
  margin-left: 100px;
  margin: auto; }
  .principal .dia_0 {
    border-radius: 50px;
    height: 100%;
    background-image: url("../img/fondo.jpg"); }
    .principal .dia_0 img {
      width: 40%;
      height: 40%; }
    .principal .dia_0 .texto {
      font-size: 30px; }
    .principal .dia_0 .texto2 {
      font-size: 20px; }

.right {
  float: right; }

.margen {
  margin-left: 6%; }

.dias {
  height: 300px;
  width: 14%;
  float: right; }
  .dias img {
    width: 40%;
    height: 40%; }
  .dias .dia_0 {
    height: 100%;
    margin-left: 7px;
    margin-right: 7px;
    background-color: pink; }
    .dias .dia_0 .texto {
      font-size: 10px; }
    .dias .dia_0 .texto2 {
      font-size: 10px; }
  .dias .dia_1 {
    height: 100%;
    margin-left: 7px;
    margin-right: 7px;
    background-color: pink; }
    .dias .dia_1 .texto {
      font-size: 10px; }
    .dias .dia_1 .texto2 {
      font-size: 10px; }
  .dias .dia_2 {
    height: 100%;
    margin-left: 7px;
    margin-right: 7px;
    background-color: pink; }
    .dias .dia_2 .texto {
      font-size: 10px; }
    .dias .dia_2 .texto2 {
      font-size: 10px; }
  .dias .dia_3 {
    height: 100%;
    margin-left: 7px;
    margin-right: 7px;
    background-color: pink; }
    .dias .dia_3 .texto {
      font-size: 10px; }
    .dias .dia_3 .texto2 {
      font-size: 10px; }
  .dias .dia_4 {
    height: 100%;
    margin-left: 7px;
    margin-right: 7px;
    background-color: pink; }
    .dias .dia_4 .texto {
      font-size: 10px; }
    .dias .dia_4 .texto2 {
      font-size: 10px; }
  .dias .dia_5 {
    height: 100%;
    margin-left: 7px;
    margin-right: 7px;
    background-color: pink; }
    .dias .dia_5 .texto {
      font-size: 10px; }
    .dias .dia_5 .texto2 {
      font-size: 10px; }
  .dias .dia_6 {
    height: 100%;
    margin-left: 7px;
    margin-right: 7px;
    background-color: pink; }
    .dias .dia_6 .texto {
      font-size: 10px; }
    .dias .dia_6 .texto2 {
      font-size: 10px; }

.center {
  text-align: center; }
