.encabezado {
  background-color: green;
  border-radius: 10px; }

.contenedor {
  overflow: hidden;
  margin-bottom: 50px; }
  .contenedor .encabezado2 {
    float: right;
    height: 100%;
    margin-left: 10px; }
  .contenedor .input {
    margin-right: 30%; }

.principal {
  height: 400px;
  width: 70%;
  margin-left: 100px;
  margin: auto; }
  .principal .dia_seleccionado {
    border-radius: 50px;
    height: 100%;
    background-image: url("../img/fondo.jpg"); }

#dia_1 {
  height: 100%;
  margin-left: 5px;
  margin-right: 5px;
  background-color: blue; }

#dia_2 {
  height: 100%;
  margin-left: 5px;
  margin-right: 5px;
  background-color: blue; }

#dia_3 {
  height: 100%;
  margin-left: 5px;
  margin-right: 5px;
  background-color: blue; }

#dia_4 {
  height: 100%;
  margin-left: 5px;
  margin-right: 5px;
  background-color: blue; }

#dia_5 {
  height: 100%;
  margin-left: 5px;
  margin-right: 5px;
  background-color: blue; }

#dia_6 {
  height: 100%;
  margin-left: 5px;
  margin-right: 5px;
  background-color: blue; }

#dia_7 {
  height: 100%;
  margin-left: 5px;
  margin-right: 5px;
  background-color: blue; }

.dias {
  height: 200px;
  width: 14%;
  float: right; }
